.hero {
	width: 150px;
	border: 1px solid #333;
	margin: 10px;
	text-decoration: none;
	color: #fff;
	transition: all .2s ease-in;
	transform: scale(1);
}
.hero:hover {
	border-color: #fff;
	transition: all .2s ease-out;
	transform: scale(1.1);
}
.hero > img {
	width: 100%;
}
.hero > figcaption {
	font-size: 1.3em;
	text-align: center;
}
.hero > figcaption  > div{
	font-size: .8em;
	text-align: center;
	color: #999;
}
.hidden {
	display: none;
}